In [2]:
import os
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [3]:
marks = pd.read_csv('D:/Kaggle/train_ship_segmentations.csv') # Markers for ships
images = os.listdir('D:/Kaggle/train_images') # Images for training

In [12]:
marks[marks["ImageId"] == "3b4251e3c.jpg"]

             ImageId                                      EncodedPixels
30205  3b4251e3c.jpg  204044 1 204811 3 205578 6 206346 7 207113 9 2...
30206  3b4251e3c.jpg  271802 2 272568 4 273334 7 274099 10 274865 13...

In [15]:
marks.shape

(131030, 2)

In [16]:
marks['ships'] = marks['EncodedPixels'].map(lambda c_row: 1 if isinstance(c_row, str) else 0)

In [17]:
marks.shape

(131030, 3)

In [18]:
marks.head()

         ImageId                                      EncodedPixels  ships
0  00003e153.jpg                                                NaN      0
1  000155de5.jpg  264661 17 265429 33 266197 33 266965 33 267733...      1
2  00021ddc3.jpg  101361 1 102128 3 102896 4 103663 6 104430 9 1...      1
3  00021ddc3.jpg  95225 2 95992 5 96760 7 97527 9 98294 9 99062 ...      1
4  00021ddc3.jpg  74444 4 75212 4 75980 4 76748 4 77517 3 78285 ...      1

In [19]:
train_data = marks[marks["ships"]!=0]
train_ids = list(train_data["ImageId"])
no_ships_train = list(set(images) & set(train_ids))
train_images_ids = list(set(no_ships_train) & set(images))

In [20]:
train_data.shape

(56030, 3)

In [21]:
train_data.head()

         ImageId                                      EncodedPixels  ships
1  000155de5.jpg  264661 17 265429 33 266197 33 266965 33 267733...      1
2  00021ddc3.jpg  101361 1 102128 3 102896 4 103663 6 104430 9 1...      1
3  00021ddc3.jpg  95225 2 95992 5 96760 7 97527 9 98294 9 99062 ...      1
4  00021ddc3.jpg  74444 4 75212 4 75980 4 76748 4 77517 3 78285 ...      1
5  00021ddc3.jpg  150423 2 151190 3 151958 3 152726 4 153495 3 1...      1

In [23]:
len(train_ids)

56030

In [24]:
len(no_ships_train)

29070

In [25]:
len(images)

104070